.vfb-pro-call-to-action a {
    text-decoration: none;
}
.vfb-pro-call-to-action:hover {
    border-color: #dbf1ff;
}
.vfb-pro-call-to-action {
    background-color: #3d93cd;
    border: 5px solid #b0d2e8;
    border-radius: 7px;
    box-shadow: inset 1px 1px 5px #398cc3, inset -1px -25px 5px #398cc3, 0px 0 0 #fff;
    height: 37px;
    margin: 0 auto;
    padding: 5px 30px 10px 30px;
    text-shadow: 0 1px #2b658c;
    width: 115px;
    line-height: 22px;
}
.vfb-pro-call-to-action .cta-sign-up {
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #2b658c;
    width: 100%;
    line-height: 22px;
}
.vfb-pro-call-to-action .cta-price {
    color: #ace7ff;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    line-height: 20px;
}
.vfb-pro-upgrade {
    display: inline;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #d3e7ee;
    border: 1px solid #21759b;
    border-radius: 5px;
}
.vfb-pro-upgrade ul {
    list-style: outside;
    margin-left: 10px;
}
#vfb-form-builder-frame {
    display: block;
    margin: 0 -8px 0 290px;
}
#vfb-form-builder-frame:after, #form-editor-header .vfb-major-publishing-actions:after, #form-editor-footer .vfb-major-publishing-actions:after, #vfb-form-builder-frame .menu-item-settings:after, #vfb-form-list:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#vfb-form-builder-sidebar {
    clear: both;
    width: 281px;
}
#vfb-form-builder-management {
    margin-right: 20px;
    position: relative;
}
#vfb-form-builder-management .form-edit {
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    margin-bottom: 20px;
}
#form-editor-header, #form-editor-footer {
    padding: 0 10px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
}
#form-editor-footer {
    border-top: 1px solid #dfdfdf;
}
.vfb-major-publishing-actions {
    clear: both;
    padding: 3px 0 5px;
}
.vfb-major-publishing-actions .publishing-action {
    float: right;
    line-height: 23px;
    margin: 5px 0 1px;
    text-align: right;
}
#form-editor-header .publishing-action {
    margin-top: 12px;
}
.sub-navigation {
    float: none;
    font-size: 12px;
    list-style: none;
    margin: 8px 0 5px;
    padding: 0;
    white-space: nowrap;
}
.sub-navigation li {
    display: inline;
    margin: 0;
    padding: 0;
}
.sub-navigation a {
    line-height: 2;
    padding: .2em;
    text-decoration: none;
}
.sub-navigation a.current {
    background: 0;
    border: medium none;
    font-weight: bold;
    color: black;
}
.sub-navigation a:hover {
    color: #d54e21;
}
#vfb-sidebar, #vfb-main {
    float: left;
    width: 100px;
    margin: 10px 0;
}
#vfb-main {
    width: auto;
}
#vfb-main.vfb-order-type-list {
    width: 100%}
#vfb-main p a, #vfb-main h3 a {
    text-decoration: none;
}
#vfb-main .submitdelete {
    color: #bc0b0b;
    text-decoration: none;
}
#vfb-main .submitdelete:hover {
    color: red;
}
#vfb-sidebar {
    margin-left: -150px;
}
#vfb-form-list {
    display: block;
    margin-left: 150px;
}
.vfb-box {
    position:relative;
    float:left;
    padding:0 10px;
	border: 1px solid #DFDFDF;
    border-radius: 3px 3px 3px 3px;
	background-color: #F5F5F5;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
    box-shadow: 0 1px 0 #FFFFFF inset;
    line-height: 1.4em;
}
.vfb-box .button-primary {
    float: right;
}
.vfb-box .vfb-form-meta-actions {
    min-height: 160px;
}
.vfb-box .vfb-publishing-actions {
    height: 35px;
    text-align: center;
}
.form-boxes, .vfb-empty-container, #vfb-main .sortable-placeholder {
    float: left;
    width: 210px;
    min-height: 200px;
    margin: 8px;
}
#vfb-main .sortable-placeholder {
    border: 1px dashed #bbb;
    background-color: #f5f5f5;
    height: 200px;
}
.sortable-placeholder {
    display: block;
    height: 400px;
}
.vfb-empty-container {
    border: 3px dashed #ccc;
}
.wrap .form-boxes h2 {
    cursor: move;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 1px solid #ccc;
    color: #464646;
}
.wrap .form-boxes h2:hover {
    color: black;
}
a.form-boxes-title {
    display: block;
    width: auto;
    text-decoration: none;
}
.vfb-form-alpha-list {
    display: inline;
    margin-right: 20px;
    float: left;
    width: 70%}
.vfb-form-alpha-list hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
#vfb-no-forms {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    text-shadow: 1px 1px 1px #fff;
}
.vfb-form-alpha-group .letter, .wrap h2.letter {
    float: left;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    color: #666;
}
.vfb-form-alpha-form {
    display: block;
    margin: 10px 0;
    padding-left: 85px;
    width: auto;
}
.vfb-form-alpha-form h3 {
    float: left;
    width: 60%;
    margin: 0;
    font-size: 17px;
    word-wrap: break-word;
}
.vfb-form-alpha-form .vfb-publishing-actions, .vfb-form-alpha-form .vfb-form-meta {
    float: right;
    text-align: center;
    width: 25%}
.vfb-form-alpha-form .vfb-publishing-actions p, .vfb-form-alpha-form .vfb-form-meta p {
    margin: 0;
}
.vfb-form-alpha-form .vfb-form-meta, .vfb-form-alpha-form .paypal {
    float: left;
    text-align: left;
    margin: 0;
}
#new-form {
    width: 75px;
    height: 105px;
    text-align: center;
    margin: 8px 0;
    padding-top: 10px;
}
#new-form a {
    display: block;
    width: auto;
    text-decoration: none;
}
#vfb-form-order-type {
    clear: left;
    text-align: center;
}
#vfb-form-order-type li {
    display: inline;
    list-style: none;
    margin-bottom: 0;
}
#vfb-form-order-type a {
    text-decoration: none;
    text-indent: -9999px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
}
#vfb-form-order-type a.order.on, #vfb-form-order-type a.order:hover {
    background: url('../images/sprite.png?d=20120921') -10px -1323px no-repeat transparent;
}
#vfb-form-order-type a.order {
    background: url('../images/sprite.png?d=20120921') -10px -1353px no-repeat transparent;
}
#vfb-form-order-type a.list.on, #vfb-form-order-type a.list:hover {
    background: url('../images/sprite.png?d=20120921') -10px -1389px no-repeat transparent;
}
#vfb-form-order-type a.list {
    background: url('../images/sprite.png?d=20120921') -10px -1421px no-repeat transparent;
}
#post-body {
    padding: 10px;
}
.vfb-postbox-container {
    float: left;
    margin: 0 8px;
    width: 100%}
#vfb-postbox-container-1 .postbox {
    min-width: 281px;
}
#vfb-postbox-container-2 {
    min-width: 485px;
}
#vfb-form-builder-frame.columns-1 {
    margin-left: -8px;
}
#vfb-form-builder-frame.columns-1 #vfb-postbox-container-1 {
    float: none;
}
#vfb-form-builder-frame.columns-1 #vfb-postbox-container-2 {
    width: 99%}
#vfb-form-builder-frame.columns-2 #vfb-postbox-container-3 {
    display: none;
}
#vfb-form-builder-frame.columns-2 #vfb-postbox-container-1, #vfb-form-builder-frame.columns-3 #vfb-postbox-container-1 {
    width: 281px;
    margin-left: -290px;
}
#vfb-form-builder-frame.columns-3 #vfb-form-builder-management {
    margin-right: 0;
}
#vfb-form-builder-frame.columns-3 #vfb-postbox-container-2 {
    width: 30%}
#vfb-form-builder-frame.columns-3 #vfb-postbox-container-3 {
    display: inline;
    margin-right: 0;
    width: 46.5%}
#vfb-form-meta-preview iframe {
    width: 100%;
    height: 100%}
@media only screen and (max-width:799px) {
    #vfb-form-builder-frame .vfb-postbox-container {
    width: 100%}
.columns-prefs .columns-prefs-3 {
    display: none;
}
}@media only screen and (min-width:800px) and (max-width:1200px) {
    #vfb-form-builder-frame .vfb-postbox-container {
    width: 49.5%}
#vfb-form-builder-frame.columns-3 #vfb-postbox-container-2, #vfb-form-builder-frame.columns-3 #vfb-postbox-container-3 {
    width: 50.5%}
#vfb-form-builder-frame.columns-1 .vfb-postbox-container {
    width: 100%}
}@media only screen and (min-width:1600px) {
    #vfb-form-builder-frame.columns-3 #vfb-postbox-container-3 {
    width: 58%}
}.item-edit {
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    width: 30px;
    height: 36px;
    overflow: hidden;
    text-indent: -999em;
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px 10px transparent;
}
.item-edit:hover {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px 10px transparent;
}
.item-edit.opened {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px -25px transparent;
}
.item-edit.opened:hover {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px -148px transparent;
}
.option .widefat {
    width: 325px;
    margin: 0 6px 7px 0;
}
#form-settings .description-thin {
    margin: 12px 10px 12px 0;
}
.description-thin, .description-wide {
    margin-right: 10px;
    float: left;
}
.description-thin {
    width: 190px;
    height: 40px;
}
.description-wide {
    width: 390px;
}
.addOption, .deleteOption, .addEmail, .deleteEmail, .addCondition, .deleteCondition {
    background: url('../images/sprite.png?d=20120921') -12px -650px no-repeat transparent;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 4px;
}
.deleteOption, .deleteEmail, .deleteCondition {
    background-position: -12px -677px;
}
.addEmail, .deleteEmail {
    margin-top: 5px;
}
.ui-state-disabled .menu-item-handle {
    cursor: default;
    background: #dfdfdf;
}
.item-conditional-icon {
    background: url('../images/sprite.png?d=20120921') -10px -1449px no-repeat transparent;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: -25px;
}
.vfb-conditional-fields {
    float: right;
}
.vfb-conditional-fields-data {
    vertical-align: middle;
}
.vfb-conditional-fields-data select {
    width: 39%;
    margin-bottom: 3px;
}
.vfb-conditional-fields-data select.vfb-conditional-condition {
    width: auto;
}
#vfb-poststuff {
    display: block;
    margin-right: 300px;
}
#vfb-entries-body-content {
    float: left;
    width: 100%}
.metabox-holder #vfb-entries-body-content h3 {
    font-family: sans-serif;
    font-weight: bold;
}
#entry-edit #side-info-column {
    margin-right: -300px;
}
label.error {
    color: red;
    display: block;
}
#visual-form-builder-update input.error, #visual-form-builder-update textarea.error, #visual-form-builder-update select.error {
    border: 1px solid red;
}
.menu-item-handle.fieldset, #form-element-fieldset {
    background: #e3e3e3;
    box-shadow: 0 1px 0 #e3e3e3 inset;
}
.menu-item-handle .item-title {
    min-height: 20px;
}
.sender-labels {
    width: 80px;
}
.is-field-required {
    color: #bc1212;
    vertical-align: middle;
}
#form-details-nav {
    font-size: 1.0em;
    padding-top: 10px;
}
#form-details-nav a, .charts-nav a {
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
}
#form-details-nav a.current, .charts-nav a.current {
    background-color: #777;
    background-image: -ms-linear-gradient(bottom, #6d6d6d, #808080);
    background-image: -moz-linear-gradient(bottom, #6d6d6d, #808080);
    background-image: -o-linear-gradient(bottom, #6d6d6d, #808080);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#6d6d6d), to(#808080));
    background-image: -webkit-linear-gradient(bottom, #6d6d6d, #808080);
    background-image: linear-gradient(bottom, #6d6d6d, #808080);
    color: white;
    border-radius: 5px;
    height: 40px;
    text-shadow: 0 -1px 0 #333;
    border-color: #dfdfdf;
}
.form-details, #form-success-message-text, #form-success-message-page, #form-success-message-redirect {
    display: none;
}
.form-details-current, .active {
    display: block;
}
#confirmation-message textarea, #notification textarea {
    font-family: Consolas, Monaco, monospace;
    width: 100%;
    height: 10em;
}
#form-success-message-page, #form-success-message-redirect {
    width: 100%;
    margin-top: 10px;
}
.post-body-plain ol li {
    list-style: decimal;
}
#vfb-upgrade-column {
    display: inline;
    float: left;
    width: 25%}
#promote-vfb li {
    padding-left: 20px;
}
#promote-vfb #twitter {
    background: url('../images/sprite.png?d=20120921') -10px -746px no-repeat transparent;
}
#promote-vfb #star {
    background: url('../images/sprite.png?d=20120921') -10px -710px no-repeat transparent;
}
#promote-vfb #paypal, .paypal {
    background: url('../images/sprite.png?d=20120921') -10px -777px no-repeat transparent;
}
.paypal {
    padding-top: 3px;
    padding-left: 20px;
    height: 20px;
}
.menu .ui-nestedSortable-error {
    background-color: #fbe3e4;
    border-color: red;
    color: #8a1f11;
}
ul#menu-to-edit ul {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
    width: 98%}
#menu-to-edit {
    margin-top: 0;
    padding: 1em 0;
}
#vfb-fieldset-first-warning {
    display: none;
}
.vfb-details {
    padding: 0 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 3px;
}
.vfb-details.section {
    background-color: #efefef;
    width: 97.55%}
.vfb-details .postbox {
    min-height: 60px;
}
#poststuff .vfb-details h2 {
    margin-top: 0;
}
#poststuff h3.section-heading {
    padding-left: 0;
}
#switcher_form {
    width: 100%}
#form-items .tabs-panel {
    padding: .5em 0 .5em 4px;
    overflow: visible;
    height: auto;
    min-height: 300px;
}
ul.vfb-fields-col-1, ul.vfb-fields-col-2 {
    float: left;
    list-style: none;
    width: 50%}
#vfb-form-builder-frame.columns-1 #vfb-postbox-container-1 #form-items .tabs-panel {
    height: auto;
}
.vfb-draggable-form-items {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 4px 0 4px 34px;
    margin-right: 8px;
    position: relative;
    border-radius: 3px;
    color: #464646;
    border: 1px solid #bbb;
    position: relative;
}
.vfb-draggable-form-items:hover {
    border-color: #aaa;
}
.vfb-draggable-form-items b {
    background-image: url('../images/sprite.png?d=20120921');
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 18px;
    height: 16px;
    line-height: 16px;
}
#form-element-address b {
    background-position: -10px -132px;
}
#form-element-autocomplete b {
    background-position: -10px -1029px;
}
#form-element-checkbox b {
    background-position: -10px -261px;
}
#form-element-color b {
    background-position: -10px -885px;
}
#form-element-creditcard b {
    background-position: -10px -847px;
}
#form-element-currency b {
    background-position: -10px -408px;
}
#form-element-datepicker b {
    background-position: -10px -218px;
}
#form-element-digits b {
    background-position: -10px -454px;
}
#form-element-email b {
    background-position: -10px -306px;
}
#form-element-file b {
    background-position: -10px -590px;
}
#form-element-hidden b {
    background-position: -10px -999px;
}
#form-element-html b {
    background-position: -10px -562px;
}
#form-element-instructions b {
    background-position: -10px -623px;
}
#form-element-ip b {
    background-position: -10px -923px;
}
#form-element-matrix b {
    background-position: -10px -1216px;
}
#form-element-max b {
    background-position: -10px -1062px;
}
#form-element-min b {
    background-position: -10px -1094px;
}
#form-element-pagebreak b {
    background-position: -10px -1292px;
}
#form-element-password b {
    background-position: -10px -964px;
}
#form-element-phone b {
    background-position: -10px -532px;
}
#form-element-radio b {
    background-position: -10px -53px;
}
#form-element-range b {
    background-position: -10px -1186px;
}
#form-element-section b {
    background-position: -10px -812px;
}
#form-element-select b {
    background-position: -10px -10px;
}
#form-element-slider b {
    background-position: -10px -1126px;
}
#form-element-spinner b {
    background-position: -10px -1154px;
}
#form-element-text b {
    background-position: -10px -91px;
}
#form-element-textarea b {
    background-position: -10px -176px;
}
#form-element-time b {
    background-position: -10px -493px;
}
#form-element-username b {
    background-position: -10px -1255px;
}
#form-element-url b {
    background-position: -10px -360px;
}
.static-vars-inactive {
    display: none;
}
.static-vars-active {
    display: block;
}
.vfb-button {
    position: relative;
    overflow: visible;
    display: inline-block;
    border: 1px solid #d4d4d4;
    margin: 0;
    padding: .5em 2.5em .5em 1em;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font: 12px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    zoom: 1;
    *display: inline;
}
.vfb-button:hover, .vfb-button:active, .vfb-button.current {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}
.vfb-button.current {
    font-weight: bold;
}
.vfb-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.vfb-button.vfb-delete {
    color: #900;
}
.vfb-button.vfb-delete:hover, .vfb-button.vfb-delete:focus, .vfb-button.vfb-delete:active {
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}
.vfb-button.vfb-delete:active, .vfb-button.vfb-delete.active {
    text-shadow: none;
}
.vfb-button.vfb-duplicate:hover, .vfb-button.vfb-duplicate:focus, .vfb-button.vfb-duplicate:active {
    border-color: #008e0d;
    border-bottom-color: #008e0d;
    color: #fff;
    background-color: #82ba0b;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7cbc0a), to(#82ba0b));
    background-image: -moz-linear-gradient(#7cbc0a, #82ba0b);
    background-image: -o-linear-gradient(#7cbc0a, #82ba0b);
    background-image: linear-gradient(#7cbc0a, #82ba0b);
}
.button-group {
    display: inline-block;
    list-style: none;
    margin-top: 10px;
}
.button-group .vfb-button {
    float: left;
    margin-left: -1px;
}
.vfb-button.vfb-first {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.vfb-button.vfb-last {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.button-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
}
.button-icon.arrow {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 0 -118px transparent;
}
.current .button-icon.arrow {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 0 -30px transparent;
}
.button-icon.plus {
    background: url('../images/sprite.png?d=20120921') no-repeat scroll -12px -644px transparent;
}
.button-icon.delete {
    background: url('../images/sprite.png?d=20120921') no-repeat scroll -12px -671px transparent;
}
#form-settings {
    width: 460px;
    display: none;
}
#form-settings.current {
    display: block;
}
.form-details {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}
.form-details.on {
    display: block;
}
.settings-links {
    background: none repeat scroll 0 0 #f5f5f5;
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 1px 0 0 0 rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
    color: #777;
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    line-height: 28px;
    padding: 5px 15px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
}
.settings-links .arrow {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px -278px transparent;
}
.settings-links.on .arrow {
    background: url('../images/arrows.png?d=20120921') no-repeat scroll 8px -252px transparent;
}
.settings-links:hover, .settings-links.on {
    background: #c6e1ec;
    color: #3d7489;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.vfb-tooltip {
    position: relative;
    float: right;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 2px;
}
.tooltip {
    text-indent: 0;
    z-index: 200;
    width: 250px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid #333;
    box-shadow: 0 0 7px black;
    background: #222;
    position: absolute;
    top: -40px;
    display: none;
    font-style: normal;
    color: white;
}
.tooltip h3, .vfb-tooltip .tooltip h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 0 0 6px 0;
    margin: 5px 0;
    border-bottom: 1px solid white;
}
.tooltip p {
    font-size: 12px;
    margin-top: 10px;
}

.vfb-export-label {
	width: 10em;
	float: left;
}

#vfb-export-entries-fields {
	height:275px;
	width:300px;
	overflow: auto;
	display: block;
	border:1px solid #e8e8e8;
	border-radius: 3px;
	margin-left: 10em;
	padding: 5px;
}