form.visual-form-builder{
	font-family:inherit;
	margin:20px 0;
	background: none;
	list-style:none;
	list-style-image: none;
	list-style-type: none;
	position: relative;
}

form.visual-form-builder li{
	width:auto !important;
	background: none;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
}

/* !Remove list item styles */
.visual-form-builder ul,
.entry-content .visual-form-builder ul,
.comment-content .visual-form-builder ul,
.mu_register .visual-form-builder ul {
	background: none;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	margin:0 14px;
	padding:0;
	font-size:12px;
}

	.visual-form-builder ul li {
		background: none;
		list-style: none;
		list-style-image: none;
		list-style-type: none;
		margin: 0;
	}

	.visual-form-builder li,
	.entry-content .visual-form-builder li,
	.comment-content .visual-form-builder li,
	.mu_register .visual-form-builder li {
		background: none;
		list-style: none;
		list-style-image: none;
		list-style-type: none;
		clear: both;
		margin: 0;
		padding: 6px 1% 9px;
		width: 64%;
	}

.visual-form-builder li div span.vfb-span,
span.vfb-full input,
span.vfb-full input[type="text"].vfb-medium,
span.vfb-full select{
	display:block;
	float:left;
	width:100%;
}

	.visual-form-builder span.vfb-left{
		float:left;
		width:48%;
	}

	.visual-form-builder span.vfb-right{
		float:right;
		width:48%;
	}

.visual-form-builder span.vfb-right input,
.visual-form-builder span.vfb-right input[type="text"],
.visual-form-builder span.vfb-right select,
.visual-form-builder span.vfb-left input,
.visual-form-builder span.vfb-left input[type="text"],
.visual-form-builder span.vfb-left select{
	width:100%;
}

/* !Time Field */
.visual-form-builder span.vfb-time{
	float:left;
	margin:0 0.3em 0 0;
}

	.rtl .visual-form-builder span.vfb-time {
		float: right;
		margin: 0 0 0 0.3em;
	}

.visual-form-builder li div label,
.visual-form-builder li span label{
	font-size:90%;
}

/* !Fieldset */
.visual-form-builder fieldset{
	background-color:#eeeeee;
	border-radius:3px;
	border:1px solid #D3D3D3;
	margin:15px 0;
	clear:both;
}

/* !Legend */
.visual-form-builder .vfb-legend{
	margin:5px 14px;
	padding:0 6px;
	color:#990000;
	border-bottom:1px solid #CCCCCC;
	font-size:inherit;
}

	.visual-form-builder .vfb-legend h3{
		font-size:20px;
		line-height: 2.0em;
		margin:0;
		padding:0;
	}

/* !Description */
.visual-form-builder label,
label.vfb-desc{
	display:block;
	margin:0;
	padding-bottom:3px;
	color:#000;
}
	label.vfb-desc{
		font-weight:bold;
	}

	.visual-form-builder.left-label .vfb-desc,
	.visual-form-builder.right-label .vfb-desc{
		float:left;
		margin:0 15px 0 0;
		width:20%;
	}

	.visual-form-builder.right-label .vfb-desc{
		padding-top:2px;
		text-align:right;
	}

	.visual-form-builder.left-label li div,
	.visual-form-builder.right-label li div {
		float: left;
		width: 65%;
	}

	.visual-form-builder label.vfb-choice{
		font-size:100%;
		line-height:150%;
		margin:-16px 0 0 23px;
		padding:0 0 5px;
		width:88%;
	}

		.rtl .visual-form-builder label.vfb-choice {
			margin: -16px 23px 0 0;
		}

	.visual-form-builder label span{
		color:#BC1212;
	}

/* !Input, Textarea, and Select */
input.vfb-text,
input[type="text"].vfb-text,
input[type="tel"].vfb-text,
input[type="email"].vfb-text,
input[type="url"].vfb-text,
textarea.vfb-textarea {
	background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 3px 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

	input.vfb-text:focus,
	input[type="text"].vfb-text:focus,
	input[type="tel"].vfb-text:focus,
	input[type="email"].vfb-text:focus,
	input[type="url"].vfb-text:focus,
	textarea.vfb-textarea:focus {
		border-color: rgb(82, 168, 236);
		border-color: rgba(82, 168, 236, 0.8);
		outline: 0;
		outline: thin dotted \9;
		/* IE6-9 */

		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	}

	input.vfb-text.error:focus,
	input[type="text"].vfb-text.error:focus,
	input[type="tel"].vfb-text.error:focus,
	input[type="email"].vfb-text.error:focus,
	input[type="url"].vfb-text.error:focus,
	textarea.vfb-textarea.error:focus {
		border-color: rgb(238,83,83);
		border-color: rgba(238,83,83,0.8);

		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
	}

input.vfb-text,
input[type="text"].vfb-text,
input[type="tel"].vfb-text,
input[type="email"].vfb-text,
input[type="url"].vfb-text,
textarea.vfb-textarea,
select.vfb-select {
	font-size:100%;
	font-family:inherit;
	line-height: normal;
	height: auto;
	color: #373737;
	margin: 0 0 5px 0;
}

select.vfb-select{
	padding:2px 0;
}

input.vfb-small,
input[type="text"].vfb-small,
input[type="tel"].vfb-small,
input[type="email"].vfb-small,
input[type="url"].vfb-small,
select.vfb-small{
	width:25%;
}

input.vfb-medium,
input[type="text"].vfb-medium,
input[type="tel"].vfb-medium,
input[type="email"].vfb-medium,
input[type="url"].vfb-medium,
select.vfb-medium{
	width:50%;
}

input.vfb-large,
input[type="text"].vfb-large,
input[type="tel"].vfb-large,
input[type="email"].vfb-large,
input[type="url"].vfb-large,
select.vfb-large,
textarea.vfb-textarea{
	width:100%;
}

textarea.vfb-medium{
	height:5.5em;
}

textarea.vfb-medium{
	height:10em;
}

textarea.vfb-large{
	height:20em;
}

/* !Submit Button */
.vfb-submit,
input[type="submit"].vfb-submit {
	font-size:1.1em;
}

/* !Checkbox and Radio */
input.vfb-checkbox,
input[type="checkbox"].vfb-checkbox,
input.vfb-radio,
input[type="radio"].vfb-radio {
	font-size:1.1em;
	display:block;
	height:13px;
	width:13px;
	margin:4px 0 0;
}

input.vfb-other,
input[type="text"].vfb-other {
    margin: 0 0 8px 25px;
}

/* !Field Layout */
.visual-form-builder li.vfb-two-column div span,
.visual-form-builder li.vfb-three-column div span,
.visual-form-builder li.vfb-auto-column div span{
	margin:0 5px 0 0;
	width:48%;
}

.visual-form-builder li.vfb-three-column div span{
	width:30%;
}

.visual-form-builder li.vfb-auto-column div span{
	width:auto;
}

.visual-form-builder li.vfb-left-half,
.visual-form-builder li.vfb-left-third,
.visual-form-builder li.vfb-left-two-thirds{
	clear:left;
	float:left;
}

.visual-form-builder li.vfb-right-half,
.visual-form-builder li.vfb-right-third,
.visual-form-builder li.vfb-right-two-thirds{
	clear:none;
	float:right;
}

.visual-form-builder li.vfb-middle-third{
	clear:none;
	float:left;
	margin-left:2%;
}

.visual-form-builder li.vfb-left-half,
.visual-form-builder li.vfb-right-half{
	width:47% !important;
}

.visual-form-builder li.vfb-left-third,
.visual-form-builder li.vfb-middle-third,
.visual-form-builder li.vfb-right-third{
	width:30% !important;
}

.visual-form-builder li.vfb-left-two-thirds,
.visual-form-builder li.vfb-right-two-thirds{
	width:64% !important;
}

li.vfb-left-half .vfb-small,
li.vfb-left-half .vfb-medium,
li.vfb-left-half .vfb-large,
li.vfb-right-half .vfb-small,
li.vfb-right-half .vfb-medium,
li.vfb-right-half .vfb-large,
li.vfb-left-third .vfb-small,
li.vfb-left-third .vfb-medium,
li.vfb-left-third .vfb-large,
li.vfb-middle-third .vfb-small,
li.vfb-middle-third .vfb-medium,
li.vfb-middle-third .vfb-large,
li.vfb-right-third .vfb-small,
li.vfb-right-third .vfb-medium,
li.vfb-right-third .vfb-large,
.visual-form-builder li.vfb-left-two-thirds .vfb-small,
.visual-form-builder li.vfb-left-two-thirds .vfb-medium,
.visual-form-builder li.vfb-left-two-thirds .vfb-large,
.visual-form-builder li.vfb-right-two-thirds .vfb-small,
.visual-form-builder li.vfb-right-two-thirds .vfb-medium,
.visual-form-builder li.vfb-right-two-thirds .vfb-large{
	width:100%;
}

/* !Error */
label.error{
	color:red;
	font-weight:bold;
	font-size:90%;
}

input.vfb-text.error,
input[type="text"].vfb-text.error,
input[type="tel"].vfb-text.error,
input[type="email"].vfb-text.error,
input[type="url"].vfb-text.error,
textarea.vfb-textarea.error {
	border-color: rgb(238,83,83);
	border-color: rgba(238,83,83,0.8);

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,83,83,.6);
}

/* !Success Mesage - Default */
p#form_success{
	color:green;
	font-weight:bold;
}

#ui-datepicker-div {
	display: none;
	font-size:12px;
}

/* !Instructions */
.vfb-item-instructions{
	background-color:#e3e3e3;
	border-radius:3px;
}

	.vfb-item-instructions ul,
	.vfb-item-instructions ul li {
		list-style: disc;
		padding-bottom: 0;
	}

	.vfb-item-instructions ol,
	.vfb-item-instructions ol li{
		list-style: decimal;
		padding-bottom: 0;
	}

/* !Sections */
.vfb-section-div{
	 background-color:#D4D4D4;
	 border-radius:3px;
	 padding:10px;
	 margin:10px 0;
	 float:left;
	 width:97%;
}
	.visual-form-builder .vfb-section-div h4{
		font-size:16px;
		border-bottom:1px solid #BABABA;
		margin:0;
	}

/* !Clearing */
.vfb-clear{
	clear:both;
	display:block;
	height:0;
	width:0;
	overflow:hidden;
	visibility:hidden;
}

/* !Conditional Field */
.vfb-conditional-hide{
	display: none;
}